{{firstname}} 
<BR><BR>
Thank you for placing your order at <b>http://Cumulus.3WCloud.com</b>.  
Cumulus is our back-office system that allows you to manage your Cloud from One location. 
<BR><BR>
In less than two business days, we will setup your OneCloud, and notify you at this email.
<BR><BR>
At that point, your Cumulus home page will then have links to all features, such as your 
Email, Calendar, Documents, and your OneCloud website, along with training, tips and techniques
that will be updated monthly.
<BR><BR>
You can logon to Cumulus here: <a href="http://Cumulus.3WCloud.com/login">http://Cumulus.3WCloud.com/login</a>.
NOTE: You login username is your current email: {{email}} 
<BR><BR>
Please bookmark that page, as it is your portal to all your various oneCloud features. 
<BR><BR>
We look forward to serving you in the near future. 
<BR><BR><BR>
The 3WCloud Team <BR>
<a href="http://Cumulus.3WCloud.com">http://Cumulus.3WCloud.com</a> 