{%extends "baseMain.html"%}
{%block body%}
{# apparently, the subdirectory for custom-filters must be called "templatetags" #} 
{# load customTags #}  
<!--
<form action="reportratePlans" method="post">
<SELECT NAME=customerDomain>
<OPTION value='ALL' {% ifequal customerDomain 'ALL' %} SELECTED {% endifequal %}>ALL</OPTION>
{%for customerOrder in customerOrdersList%} 
<OPTION value='{{customerOrder.domain}}' {% ifequal customerDomain customerOrder.domain %} SELECTED {% endifequal %}>{{customerOrder.domain}}</OPTION>
{%endfor%}
<input type=submit>
</form>
--> 

<h2>ServiceType Subscriber Xref</h2>

<table border=1>
<tr>
  <th>ServiceType.code</th>
  <th>Description</th>
</tr>
<tr>
  <td>{{serviceType.code}}</td>
  <td>{{serviceType.name}}</td>
</tr>
</table>
<BR>
<BR>

<table border=1>
<tr>
  <th>Row</th> 
  <th>Domain</th>
  <th>Service<BR>State</th>
  <th>Order<BR>ID</th>
  <th>Order<BR>Date</th>
  <th>Financial<BR>Status</th>
  <th>Order<BR>State</th>
  <th>Firstname</th>
  <th>Lastname</th>
</tr> 

{%for service in serviceList%} 

<tr>
  <td><a href="updService?key={{service.key}}">&nbsp;{{forloop.counter}}&nbsp;</a></td> 
  {% if service.domain %} 
  <td>{{service.domain}}</td>
  {% else %} 
  <td>&nbsp;&nbsp;NA&nbsp;&nbsp;</td>
  {%endif%} 
  <td>{{service.serviceState}}</td>
  <td>{{service.order.key.id}}</td>
  <td>{{service.order.orderDate|date:_("m/d/y h:i:s")}}</td>
  <td>{{service.order.financialStatus}}</td>
  <td>{{service.order.orderState}}</td>
  <td>{{service.order.subscriber.firstname}}</td>
  <td>{{service.order.subscriber.lastname}}</td>

</tr>


{%endfor%}

</table>


{%endblock%}
