{% if sess.flash %}
    <p>{{ sess.flash }}</p>
    {% endif %}
    <p> Welcome to the sessions demo. You've viewed this page <strong>{{ sess.viewCount }}</strong> times during this session. Your session id is <strong>{{ sess.sid }}</strong> There are {{ session_length }} objects in your session data.
<table><tr>
<ul>
<td><b>iteration test</b><br />
{% for k in sess %}
<li>{{ k }}</li>
{% endfor %}
</td><td><b>items test</b><br />
{% for i in sess.items %}
<li>{{ i }}</li>
{% endfor %}
</td><td><b>keys test</b><br />
{% for k in sess.keys %}
<li>{{ k }}</li>
{% endfor %}
</td><td><b>values test</b><br />
{% for v in sess.values %}
<li>{{ v }}</li>
{% endfor %}
</td></tr></table>
When the Django template library is upgraded this demo can be modified to show the values as well. For now this is enough to demonstrate iteration support.
</ul><br />
                You can <a href="/session">View this page again</a>, you can <a href="/session?setflash=true">Set flash data</a>, pr you can <a href="/session?deleteSession=true">Delete your session</a> and start over.</p>
<p>Memcache stats: {{ memcacheStats }}</p>
<p>Session str: {{ sess_str }}</p>
  <div id="container"></div>
  <div><input type="button" id="requestButton" value="Get 1" /><input type="button" id="requestButton10" value="Get 10" /><input type="button" id="requestButton20" value="Get 20" /></div>

